.cloud-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.cloud {
    position: absolute;
    background: url("nube.png") no-repeat;
    background-size: contain;
    opacity: 0.9;
}

.cloud0 {
    width: 150px;
    height: 75px;
    top: 10%;
    animation: moveRight 30s linear infinite;
}

.cloud1 {
    width: 200px;
    height: 100px;
    top: 15%;
    animation: moveLeft 22s linear infinite;
}

.cloud2 {
    width: 120px;
    height: 80px;
    top: 70%;
    animation: moveLeft 18s linear infinite;
}

.cloud3 {
    width: 250px;
    height: 125px;
    top: 28%;
    animation: moveLeft 38s linear infinite;
}

.cloud4 {
    width: 250px;
    height: 150px;
    top: 55%;
    animation: moveRight 28s linear infinite;
}

.cloud5 {
    width: 200px;
    height: 100px;
    top: 75%;
    animation: moveLeft 32s linear infinite;
}

.cloud6 {
    width: 250px;
    height: 100px;
    top: 25%;
    animation: moveRight 22s linear infinite;
}

@keyframes moveRight {
    0% {
        left: -10%;
    }
    100% {
        left: 110%;
    }
}

@keyframes moveLeft {
    0% {
        right: -10%;
    }
    100% {
        right: 110%;
    }
}
