/* Estilo base para las nubes */
#cloud,
#cloud-medium,
#cloud-small {
    position: absolute;
    background: #e1e1e1;
    z-index: -1;
    animation: moveCloud linear infinite;
}

#cloud {
    width: 350px;
    height: 120px;
    top: 50px;
    left: -350px;
    border-radius: 100px;
    margin: 120px auto 20px;
    margin-top: 7%;
    animation-duration: 25s;
}

#cloud:after,
#cloud:before {
    content: "";
    position: absolute;
    background: #e1e1e1;
}

#cloud:after {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50px;
    border-radius: 100px;
}

#cloud:before {
    width: 200px;
    height: 200px;
    top: -90px;
    right: 50px;
    border-radius: 200px;
}

/* Nube mediana */
#cloud-medium {
    width: 250px;
    height: 80px;
    top: 150px;
    left: -250px;
    border-radius: 80px;
    margin: 120px auto 20px;
    margin-top: 15%;
    animation-duration: 20s;
    animation-direction: reverse;
}

#cloud-medium::before,
#cloud-medium::after {
    content: "";
    position: absolute;
    background: #e1e1e1;
}

#cloud-medium::after {
    width: 80px;
    height: 80px;
    top: -40px;
    left: 30px;
    border-radius: 80px;
}

#cloud-medium::before {
    width: 160px;
    height: 160px;
    top: -72px;
    right: 30px;
    border-radius: 160px;
}

/* Nube pequeña */
#cloud-small {
    width: 150px;
    height: 50px;
    top: 250px;
    left: -150px;
    border-radius: 50px;
    margin: 120px auto 20px;
    margin-top: 18%;
    animation-duration: 20s;
}

#cloud-small::before,
#cloud-small::after {
    content: "";
    position: absolute;
    background: #e1e1e1;
}

#cloud-small::after {
    width: 50px;
    height: 50px;
    top: -25px;
    left: 20px;
    border-radius: 50px;
}

#cloud-small::before {
    width: 100px;
    height: 100px;
    top: -45px;
    right: 20px;
    border-radius: 100px;
}

@keyframes moveCloud {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(calc(100% + 1200px));
    }
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    /* Ajustes para #cloud */
    #cloud {
        top: 20px;
        left: -200px;
        margin-top: 10%;
    }

    #cloud:after {
        top: -25px;
        left: 25px;
    }

    #cloud:before {
        top: -45px;
        right: 25px;
    }

    /* Ajustes para #cloud-medium */
    #cloud-medium {
        top: 100px;
        left: -150px;
        margin-top: 12%;
    }

    #cloud-medium::after {
        top: -20px;
        left: 15px;
    }

    #cloud-medium::before {
        top: -36px;
        right: 15px;
    }

    /* Ajustes para #cloud-small */
    #cloud-small {
        top: 180px;
        left: -100px;
        margin-top: 15%;
    }

    #cloud-small::after {
        top: -12px;
        left: 10px;
    }

    #cloud-small::before {
        top: -22.5px;
        right: 10px;
    }
}
