.cloud-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.cloud {
    position: absolute;
    background: url("nube.png") no-repeat;
    background-size: contain;
    opacity: 0.9;
}

.cloud0,
.cloud4,
.cloud6 {
    left: -25%;
}

.cloud1,
.cloud2,
.cloud3,
.cloud5 {
    right: -25%;
}

.cloud0 {
    width: 150px;
    height: 75px;
    top: 10%;
    animation: moveRight 35s linear infinite,
        moveUpDown 3.5s ease-in-out infinite;
}

.cloud1 {
    width: 200px;
    height: 100px;
    top: 15%;
    animation: moveLeft 28s linear infinite,
        moveUpDown 2.8s ease-in-out infinite;
}

.cloud2 {
    width: 120px;
    height: 80px;
    top: 70%;
    animation: moveLeft 24s linear infinite,
        moveUpDown 2.4s ease-in-out infinite;
}

.cloud3 {
    width: 250px;
    height: 125px;
    top: 28%;
    animation: moveLeft 38s linear infinite,
        moveUpDown 3.8s ease-in-out infinite;
}

.cloud4 {
    width: 250px;
    height: 150px;
    top: 55%;
    animation: moveRight 28s linear infinite,
        moveUpDown 2.8s ease-in-out infinite;
}

.cloud5 {
    width: 200px;
    height: 100px;
    top: 75%;
    animation: moveLeft 32s linear infinite,
        moveUpDown 3.2s ease-in-out infinite;
}

.cloud6 {
    width: 250px;
    height: 100px;
    top: 25%;
    animation: moveRight 26s linear infinite,
        moveUpDown 2.6s ease-in-out infinite;
}

@keyframes moveRight {
    0% {
        left: -10%;
    }
    100% {
        left: 110%;
    }
}

@keyframes moveLeft {
    0% {
        right: -10%;
    }
    100% {
        right: 110%;
    }
}

@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 768px) {
    .cloud0 {
        top: 12%;
        animation: moveRight 28s linear infinite,
            moveUpDown 2.8s ease-in-out infinite !important;
    }
    .cloud1 {
        top: 18%;
        animation: moveLeft 20s linear infinite,
            moveUpDown 2s ease-in-out infinite !important;
    }
    .cloud2 {
        top: 70%;
        animation: moveLeft 15s linear infinite,
            moveUpDown 1.5s ease-in-out infinite !important;
    }
    .cloud3 {
        top: 34%;
        animation: moveLeft 32s linear infinite,
            moveUpDown 3.2s ease-in-out infinite !important;
    }
    .cloud4 {
        top: 54%;
        animation: moveRight 25s linear infinite,
            moveUpDown 2.5s ease-in-out infinite !important;
    }
    .cloud5 {
        top: 80%;
        animation: moveLeft 30s linear infinite,
            moveUpDown 3s ease-in-out infinite !important;
    }
    .cloud6 {
        top: 28%;
        animation: moveRight 18s linear infinite,
            moveUpDown 1.8s ease-in-out infinite !important;
    }
}
