.emp-conteiner {
    background-color: white;
    height: 380px;
    width: 100%;
    padding: 15px 30px;
    background-size: contain;
    background-repeat: repeat;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emp-box {
    background-color: white;
    color: black;
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.emp-box p {
    font-weight: bold;
}

.emp-box i {
    color: gold;
    padding: 0;
    margin-left: 10px;
}

.emp-box div {
    display: flex;
    align-items: center;
}

.emp-avatar {
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.emp-prod-box {
    background-color: white;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.emp-prod {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .emp-conteiner {
        padding: 15px;
    }
    .emp-box,
    .emp-prod-box {
        width: 100%;
    }
}
