@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Montserrat;
    background-color: white;
}

header {
    background-color: #cd5c5c;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header div {
    display: flex;
    gap: 5px;
    border-radius: 5px;
}

header p,
i {
    padding: 10px 15px;
    border-radius: 5px;
}

.btn {
    box-shadow: 0 2px 1px 0 #a93e3e;
}

.logo {
    text-shadow: 0 2px 1px #a93e3e;
}

.btn {
    background-color: white;
}

.fa-user {
    color: #a93e3e;
}

.logo {
    color: white;
}

.logo {
    font-size: 38px;
    font-weight: bold;
}

.search-container {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 15px !important;
    }
    .logo {
        font-size: 28px;
    }
    .btn,
    .reg {
        font-size: small;
    }
}
