@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Montserrat;
    background-color: white;
}

header {
    background-color: #cd5c5c;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: top 0.6s;
    border-bottom: 1px solid white;
}

header div {
    display: flex;
    gap: 5px;
    border-radius: 5px;
}

header p,
i {
    padding: 10px 15px;
    border-radius: 5px;
}

.btn.icon {
    display: none;
}

.btn.text {
    display: inline;
}

.btn {
    box-shadow: 0 2px 1px 0 #a93e3e;
}

.logo {
    text-shadow: 0 2px 1px #a93e3e;
}

.btn {
    background-color: white;
}

.fa-user {
    color: #a93e3e;
}

.logo {
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

main {
    padding-top: 70px;
}

.search-conteiner {
    background-color: #cd5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px 5px 30px;
}

.search {
    background-color: white;
    color: black;
    height: auto;
    width: 60%;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.cat {
    color: white;
    font-size: 14px;
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    text-shadow: 0 2px 1px #a93e3e;
}

.cat i {
    font-size: 12px;
    padding: 5px;
}

.cat p {
    margin-left: 15px;
}

@media only screen and (max-width: 1200px) {
    .btn.text {
        display: none;
    }
    .btn.icon {
        display: inline;
    }
    header {
        padding: 15px !important;
    }
    header p {
        padding: 0;
    }
    .logo {
        font-size: 28px;
    }
    .btn,
    .reg {
        font-size: small;
    }
    main {
        padding-top: 65px;
    }
    .search-conteiner {
        padding: 15px 15px 5px 15px;
    }
    .search {
        width: 100%;
    }
    .cat {
        width: 100%;
        font-size: 12px;
    }
}
