@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    background-color: #cd5c5c;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

header {
    height: auto;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: top 0.6s;
}

header div {
    display: flex;
    gap: 5px;
}

header p,
i {
    padding: 10px 15px;
    border-radius: 5px;
}

.btn,
.search,
.box {
    box-shadow: 0 2px 1px 0 #a93e3e;
}

.logo,
.cat,
.info h1 {
    text-shadow: 0 2px 1px #a93e3e;
}

.down,
.reg {
    background-color: #a93e3e;
}

.btn,
.search,
.box {
    background-color: white;
}

.reg,
.logo,
.ad,
.cat,
.down,
.down a,
footer {
    color: white;
}

.logo {
    font-size: 38px;
    font-weight: bold;
    margin-top: 12px;
}

.ad {
    margin-left: auto;
    margin-right: 30px;
    margin-top: 5px;
}

.search-conteiner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    height: auto;
    width: 60%;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.cat {
    font-size: 14px;
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
}

.cat i {
    font-size: 12px;
    padding: 5px;
}

.cat p {
    margin-left: 15px;
}

.down {
    padding: 15px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 15px;
    bottom: 0;
    animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -10px);
    }
}

.down a {
    text-decoration: none;
}

.res-info {
    padding: 0 30px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.numberDisplay {
    font-size: 28px;
}

.box {
    width: 100%;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.box i {
    color: #cd5c5c;
    font-size: 38px;
}

footer {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 15px !important;
        border-bottom: 1px solid white;
    }
    .btn,
    .reg {
        font-size: small;
    }
    .logo {
        margin-top: 80px;
    }
    .view-all {
        margin-bottom: 20%;
    }
    .ad {
        margin: 0 !important;
    }
    .search,
    .cat {
        width: 90%;
    }
    .stats {
        flex-direction: column;
    }
    .box {
        margin: 0 5px !important;
        margin-bottom: 15px !important;
    }
}
